/* --- マウス・ポインティングの設定 --- */

#define ZMK_POINTING_DEFAULT_SCRL_VAL 1000 // スクロールの移動量を定義（数値が大きいほど速い）

/* --- レイヤー番号の定義（名前を付けて管理しやすくする） --- */

#define DEFAULT 0               // 基本の入力レイヤー
#define LANG1_EAGER_TAP_DANCE 1 // 言語切り替え用の特殊な挙動レイヤー
#define NUMPAD_AND_ARROWS 2     // テンキーと矢印キーのレイヤー
#define FUNCTIONS_AND_SYMBOLS 3 // ファンクションキーと記号のレイヤー
#define MISC 4                  // その他(Miscellaneous)のキーレイヤー
#define ALT_TAB 5               // Alt+Tab操作用のレイヤー
#define CTRL_TAB 6              // Ctrl+Tab操作用のレイヤー
#define MOUSE 7                 // マウスカーソル操作レイヤー
#define MEDIA 8                 // 音楽再生や音量調整などのメディアレイヤー
#define EXTRA_FINCTIONS 9       // 追加機能レイヤー（スペルミス：FUNCTIONS）
#define CONFIGURATION 10        // キーボード自体の設定（ペアリング等）レイヤー
#define SCROLL 11               // スクロール操作専用レイヤー

/* --- システム・外部ファイルの読み込み --- */

#include <zephyr/dt-bindings/input/input-event-codes.h> // 標準的な入力イベント（キーコード）の定義
#include <dt-bindings/zmk/input_transform.h>           // トラックボールなどの入力反転・回転変換
#include <input/processors.dtsi>                       // 入力データの処理（スムージング等）
#include <behaviors/input_gestures_accel.dtsi>

// #include <input/processors/report_rate_limit.dtsi>     // 通信の更新レート制限（バッテリー節約等）

#include <behaviors/rgbled_widget.dtsi>                // LED表示（ウィジェット）の制御
#include <layout_shift_kp_override.dtsi>               // シフト時のキー上書き設定
#include <mouse-gesture.dtsi>                          // マウスジェスチャー機能
#include <scroll-snap.dtsi>                            // スクロールを段階的に止める機能

/* --- ZMKの基本機能の読み込み --- */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

// OS設定を日本語キーボードのまま使用するための変換定義

#define JP_DQUOTE       AT                // "
#define JP_QUOTE        AMPERSAND         // '
#define JP_AMPERSAND    CARET             // &
#define JP_EQUAL        UNDER             // =
#define JP_CARET        EQUAL             // ^
#define JP_YEN          0x89              // ¥
#define JP_PLUS         COLON             // +
#define JP_TILDE        PLUS              // ~
#define JP_PIPE         LS(0x89)          // |
#define JP_AT           LEFT_BRACKET      // @
#define JP_COLON        SINGLE_QUOTE      // :
#define JP_ASTERISK     DOUBLE_QUOTES     // *
#define JP_BACKQUOTE    LEFT_BRACE        // `
#define JP_UNDERSCORE   LS(0x87)          // _
#define JP_LBRACKET     RIGHT_BRACKET     // [
#define JP_RBRACKET     BACKSLASH         // ]
#define JP_LPAREN       ASTERISK          // (
#define JP_RPAREN       LEFT_PARENTHESIS  // )
#define JP_LBRACE       RIGHT_BRACE       // {
#define JP_RBRACE       PIPE              // }
#define JP_KANA         LANGUAGE_1        // かな
#define JP_EISU         LANGUAGE_2        // 英数
#define JP_HANZEN       GRAVE             // 半角/全角

/* --- 以下設定 --- */

&mt {
    tapping-term-ms = <200>;
    quick-tap-ms = <250>;
    flavor = "balanced";
};

&lt {
    tapping-term-ms = <200>;
    quick-tap-ms = <250>;
    flavor = "balanced";
};

&to { /delete-property/ locking; };

&tog { /delete-property/ locking; };

&sk { release-after-ms = <300>; };

&sl { release-after-ms = <800>; };

/* --- AML (Auto Mouse Layer) 制御 --- */

&zip_temp_layer {
    require-prior-idle-ms = <800>; // キー入力から一定時間はAMLを発動しない
    excluded-positions = <
        18 // T (MB1: 左クリック)
        19 // N (MB2: 右クリック)
    >;
};

&mkp_input_listener {
    input-processors = <&zip_temp_layer MOUSE 500>;
};

&trackball {
    status = "okay";
    scroll-layers = <11>;
};

&zip_scroll_snap {
    require-n-samples = <8>;
    immediate-snap-threshold = <750>;
    lock-duration-ms = <175>;
    lock-for-next-n-events = <8>;
    idle-reset-timeout-ms = <175>;
};

&pointer_accel {
    input-type = <INPUT_EV_REL>;
    track-remainders;
    min-factor = <900>;
    max-factor = <2600>;
    speed-threshold = <300>;
    speed-max = <2500>;
    acceleration-exponent = <2>;
};

&trackball_listener {
    compatible = "zmk,input-listener";
    input-processors = <&zip_mouse_gesture>;
    input-processors = <&pointer_accel>;

    auto-mouse-layer {
        layers = <DEFAULT MOUSE>;
        input-processors = 
            <&zip_x_scaler 1 5>,
            <&zip_y_scaler 1 5>,
            <&pointer_accel>,
            <&zip_temp_layer MOUSE 50000>;
        process-next;
    };

    scroller {
        layers = <11>;
        input-processors = 
            <&zip_x_scaler 100 1>,
            <&zip_y_scaler 30 1>,
            <&zip_xy_transform (INPUT_TRANSFORM_XY_SWAP | INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)>,
            <&zip_xy_to_scroll_mapper>,
            <&zip_scroll_snap>;
        process-next;
    };

    disable-scroll-x {
        layers = <EXTRA_FINCTIONS>;
        input-processors = <&wheel_x_scaler 0 1>;
        process-next;
    };
};

/ {
    input_processors {
        wheel_x_scaler: wheel_x_scaler {
            compatible = "zmk,input-processor-scaler";
            #input-processor-cells = <2>;
            type = <INPUT_EV_REL>;
            codes = <INPUT_REL_HWHEEL>;
            track-remainders;
        };

    };

    combos {
        compatible = "zmk,combos";

        ai_space {
            bindings = <&kp SPACE>;
            key-positions = <11 12>;
            layers = <0 7>;
            require-prior-idle-ms = <80>;
            timeout-ms = <80>;
        };

        ns_enter {
            bindings = <&kp ENTER>;
            key-positions = <19 20>;
            layers = <0 7>;
        };

        sh_bs {
            bindings = <&kp BACKSPACE>;
            key-positions = <20 21>;
            layers = <0 7>;
            timeout-ms = <80>;
        };

        jb_unsc {
            bindings = <&kp JP_UNDERSCORE>;
            key-positions = <32 33>;
            layers = <0 7>;
            timeout-ms = <80>;
        };

        middle_click {
            bindings = <&mkp MCLK>;
            key-positions = <18 19>;
            layers = <7 11>;
        };

        ql_escape {
            bindings = <&kp ESCAPE>;
            key-positions = <0 1>;
            layers = <0 7>;
            require-prior-idle-ms = <300>;
        };

        caps_word {
            bindings = <&caps_word>;
            key-positions = <22 33>;
            layers = <0>;
            require-prior-idle-ms = <300>;
        };

        wr_sq_brkt {
            bindings = <&mc_sq_brkt>;
            key-positions = <6 7>;
            layers = <0>;
        };

        tn_par_brkt {
            bindings = <&mc_par_brkt>;
            key-positions = <18 19>;
            layers = <0>;
        };

        dm_cur_brkt {
            bindings = <&mc_cur_brkt>;
            key-positions = <30 31>;
            layers = <0>;
        };

        ei_tab {
            bindings = <&kp_exit_AML TAB>;
            key-positions = <11 10>;
        };

        l2dm_copy {
            bindings = <&kp LC(C)>;
            key-positions = <30 31>;
            layers = <2>;
        };

        l2mj_paste {
            bindings = <&kp LC(V)>;
            key-positions = <32 31>;
            layers = <2>;
        };

        mj_slash {
            bindings = <&kp SLASH>;
            key-positions = <31 32>;
        };

        zx_ctrl_z {
            bindings = <&kp LC(Z)>;
            key-positions = <22 23>;
            layers = <0>;
        };
    };

    macros {
        exit_AML: exit_AML {
            compatible = "zmk,behavior-macro";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <0>;
            bindings = <&tog_off MOUSE>;
            label = "exit_AML";
        };

        kp_exit_AML: kp_exit_AML {
            compatible = "zmk,behavior-macro-one-param";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <1>;
            bindings = <&macro_param_1to1 &kp MACRO_PLACEHOLDER &exit_AML>;
            label = "KP_exit_AML";
        };

        /omit-if-no-ref/

        mod_exit_AML: mod_exit_AML {
            compatible = "zmk,behavior-macro-one-param";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <1>;
            bindings =
                <&macro_press>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&exit_AML>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>;
        };

        /omit-if-no-ref/

        mkp_exit_AML: mkp_exit_AML {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&macro_press>,
                <&macro_param_1to1 &mkp MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&macro_param_1to1 &mkp MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&sl 7>;
        };

        /omit-if-no-ref/

        mo_exit_AML: mo_exit_AML {
            compatible = "zmk,behavior-macro-one-param";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <1>;
            bindings =
                <&macro_press>,
                <&macro_param_1to1 &mo MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&exit_AML>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&macro_param_1to1 &mo MACRO_PLACEHOLDER>,
                <&macro_tap>;
        };

        /omit-if-no-ref/

        mo_exit_alttab: mo_exit_alttab_ctrltab {
            compatible = "zmk,behavior-macro-one-param";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <1>;
            bindings =
                <&macro_press>,
                <&macro_param_1to1 &mo MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&macro_param_1to1 &mo MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&tog_off 5 &tog_off 6>;
        };

        /omit-if-no-ref/

        kp_to: kp_to {
            compatible = "zmk,behavior-macro-two-param";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <2>;
            bindings = <&macro_param_1to1 &kp MACRO_PLACEHOLDER &macro_param_2to1 &to MACRO_PLACEHOLDER>;
        };

        to_kp: to_kp {
            compatible = "zmk,behavior-macro-two-param";
            #binding-cells = <2>;
            bindings = <&macro_param_1to1 &to MACRO_PLACEHOLDER &macro_param_2to1 &kp MACRO_PLACEHOLDER>;
        };

        // [] を入力して中に戻る

        mc_sq_brkt: mc_sq_brkt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp JP_LBRACKET &kp JP_RBRACKET &kp LEFT>;
        };

        // () を入力して中に戻る

        mc_par_brkt: mc_par_brkt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp JP_LPAREN &kp JP_RPAREN &kp LEFT>;
        };

        // {} を入力して中に戻る

        mc_cur_brkt: mc_cur_brkt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp JP_LBRACE &kp JP_RBRACE &kp LEFT>;
        };

        zoom_in: zoom_in {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt_on LCTRL &msc SCRL_UP &kt_off LCTRL>;
        };

        zoom_out: zoom_out {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt_on LCTRL &msc SCRL_DOWN &kt_off LCTRL>;
        };

        eager_tap_dance: eager_tap_dance {
            compatible = "zmk,behavior-macro-two-param";
            #binding-cells = <2>;
            bindings =
                <&macro_press>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&macro_param_2to1 &sl_250 MACRO_PLACEHOLDER>;
        };

       // ホールド時にレイヤーを移動し、ホールド解除時に&to 0を強制
       mo_forced_reset: mo_forced_reset {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings = 
                <&macro_tap>,
                <&exit_AML>,
                <&macro_tap>,
                <&exit_AML>,
                <&macro_press>,
                <&macro_param_1to1 &mo MACRO_PLACEHOLDER>,// 引数のレイヤーをON
                <&macro_pause_for_release>,
                <&macro_release>,
                <&macro_param_1to1 &mo MACRO_PLACEHOLDER>, // 指を離した時
                <&macro_tap>,
                <&to 0>,
                <&exit_AML>;    // ★ここで全解除して帰還
        };

        mo2_with_forced_exit: mo2_with_forced_exit {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <1>; 
            tap-ms = <1>;
            bindings =
                // <&macro_tap>,
                // <&kp F24>,
                <&macro_tap>,
                <&exit_AML>,
                <&macro_press>,
                <&to 2>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&mo 2>,
                <&macro_tap>,
                 <&to 0 &exit_AML>;

            // レイヤー0へ強制帰還 + AML解除 
        };

        mo3_forced_reset: mo3_forced_reset {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&exit_AML>,
                <&macro_press>,
                <&mo 3>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&mo 3>,
                <&macro_tap>,
                <&to 0 &exit_AML>;

            // レイヤー0へ強制帰還 + AML解除 
        };

        to_nl: to_nl {
             compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            wait-ms = <1>;
            tap-ms = <1>;
                bindings = 
                <&macro_tap &exit_AML>,                    // AMLを強制解除 [cite: 46]
                <&macro_param_1to1 &to MACRO_PLACEHOLDER>; // 指定レイヤーへジャンプ 
            label = "TO_NL";
        };
    };

    behaviors {
        mm_minus_tilde: mm_minus_tilde {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp MINUS>, <&kp JP_TILDE>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        td_lang_chenge: td_lang_chenge {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LANGUAGE_2>, <&kp LANGUAGE_1>;
        };

        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&kp>;
        };

        tog_on: toggle_layer_on {
            compatible = "zmk,behavior-toggle-layer";
            #binding-cells = <1>;
            display-name = "Toggle Layer On";
            toggle-mode = "on";
        };

        tog_off: toggle_layer_off {
            compatible = "zmk,behavior-toggle-layer";
            #binding-cells = <1>;
            display-name = "Toggle Layer Off";
            toggle-mode = "off";
        };

        // ホールドでレイヤー、タップで「キー＋AML解除」

        lt_exit_AML_on_tap: lt_exit_AML_on_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "LT_EXIT_AML_ON_TAP";
            bindings = <&mo>, <&kp_exit_AML>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
            quick-tap-ms = <200>;
        };

        lt_henkan_to_0: lt_henkan_to_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LT_HENKAN_TO_0";
            bindings = <&mo2_with_forced_exit>, <&kp_exit_AML>;

            // ホールドでマクロ、タップで変換+AML解除

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "hold-preferred";
            quick-tap-ms = <0>;
        };

        // 上記を組み合わせたTap-Dance

        td_muhenkan_henkan: td_muhenkan_henkan {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_MUHENKAN_HENKAN";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings =
                <&lt_exit_AML_on_tap 3 INT_MUHENKAN>,
                <&lt_exit_AML_on_tap 2 INT_HENKAN>;
        };

        kt_on: key_toggle_on_only {
            compatible = "zmk,behavior-key-toggle";
            #binding-cells = <1>;
            display-name = "Key Toggle On";
            toggle-mode = "on";
        };

        kt_off: key_toggle_off_only {
            compatible = "zmk,behavior-key-toggle";
            #binding-cells = <1>;
            display-name = "Key Toggle Off";
            toggle-mode = "off";
        };

        td_colon: td_colon {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp COLON>, <&kp SEMICOLON>;

            tapping-term-ms = <250>;
        };

        td_q_escape: td_q_escape {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&kp Q>, <&kp ESCAPE>;
        };

        td_ZenkakuHankaku: td_ZenkakuHankaku {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&kp LANGUAGE_2>, <&kp LANGUAGE_1>;
        };

        alt_tab: alt_tab {
            compatible = "zmk,behavior-macro-two-param";
            #binding-cells = <2>;
            bindings = <&macro_param_1to1 &kt_on MACRO_PLACEHOLDER &macro_param_2to1 &kp MACRO_PLACEHOLDER &macro_param_1to1 &sk MACRO_PLACEHOLDER &macro_param_1to1 &kt_off MACRO_PLACEHOLDER>;
        };

        windows_sleep: windows_sleep {
            compatible = "zmk,behavior-macro";
            wait-ms = <200>;
            tap-ms = <100>;
            #binding-cells = <0>;
            bindings = <&kp LG(X) &kp U &kp S>;
        };

        screensot_save: screensot_save {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(F11)>;
            label = "SCREENSOT_SAVE";
        };

        mkp_with_mod: mkp_with_mod {
            compatible = "zmk,behavior-macro-two-param";
            #binding-cells = <2>;
            bindings =
                <&macro_press>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER &macro_param_2to1 &mkp MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&macro_param_2to1 &mkp MACRO_PLACEHOLDER &macro_param_1to1 &kp MACRO_PLACEHOLDER>;

            label = "MKP_WITH_MOD";
        };

        screenshot_copy: screenshot_copy {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&kp LA(PRINTSCREEN)>, <&kp LA(PRINTSCREEN)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_LALT)>;
            keep-mods = <(MOD_LALT)>;
        };

        mm_exclamation: mm_exclamation {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&kp COMMA>, <&kp EXCL>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        mm_question: mm_question {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&kp PERIOD>, <&kp QUESTION>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        mm_slash: mm_slash {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&kp SLASH>, <&kp BACKSLASH>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        td_alt_f4: td_alt_f4 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp F4>, <&kp LA(F4)>;

            tapping-term-ms = <250>;
        };

        encoder_zoom: encoder_zoom {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&zoom_out>, <&zoom_in>;
        };

        encoder_volume: encoder_volume {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&kp C_VOLUME_DOWN>, <&kp C_VOLUME_UP>;
        };

        sl_250: sl_250 {
            compatible = "zmk,behavior-sticky-key";
            bindings = <&mo>;
            #binding-cells = <1>;
            release-after-ms = <250>;
        };

        td_bt_clear: td_bt_clear {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&none>, <&none>, <&bt BT_CLR>;

            tapping-term-ms = <250>;
        };

        td_bt_clear_all: td_bt_clear_all {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&none>, <&none>, <&bt BT_CLR_ALL>;
        };

        td_copy_paste: td_copy_paste {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp LC(C)>, <&kp LC(V)>;

            tapping-term-ms = <250>;
        };

        td_reset: td_reset {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&none>, <&sys_reset>;

            tapping-term-ms = <300>;
        };

        reset_bootloader: reset_bootloader {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&bootloader>, <&td_reset>;

            tapping-term-ms = <500>;
            flavor = "balanced";
        };

        td_rclick_close_tab: td_rclick_close_tab {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&mkp RCLK>, <&kp LC(W)>;

            tapping-term-ms = <250>;
        };

        td_rclick_close_tab_mouse_gesture: td_rclick_close_tab_mouse_gesture {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&mouse_gesture>, <&td_rclick_close_tab>;

            tapping-term-ms = <150>;
            flavor = "balanced";
        };
    };

    /* --- 以下キーマップ --- */

    keymap {
        compatible = "zmk,keymap";

        DEFAULT {
            bindings = <
&kp Q         &kp L         &kp U    &mm_exclamation      &mm_question                                                              &kp F                         &kp W  &kp R  &kp Y     &kp P
&kp E         &kp I         &kp A    &kp O                &mm_minus_tilde   &kp LS(LG(S))       &zoom_in                            &kp K                         &kp T  &kp N  &lt 7 S   &kp H
&kp Z         &kp X         &kp C    &kp V                &kp LS(LCTRL)     &kp LEFT_SHIFT      &zoom_out                           &kp G                         &kp D  &kp M  &lt 11 J  &kp B
&kp LEFT_GUI  &kp LEFT_WIN  &kp TAB  &td_muhenkan_henkan  &kp LEFT_CONTROL  &kp LEFT_ALT        &lt_exit_AML_on_tap 3 INT_MUHENKAN  &lt_henkan_to_0 2 INT_HENKAN                          &kp LEFT_SHIFT
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        LANG1_EAGER_TAP_DANCE {
            bindings = <
&trans  &trans  &trans  &trans                    &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans                    &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans                    &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &eager_tap_dance LANG1 1  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        NUMPAD_AND_ARROWS {
            bindings = <
&kp JP_ASTERISK             &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_MINUS                      &td_alt_f4     &none           &kp UP_ARROW    &none            &none
&kp KP_SLASH                &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp JP_PLUS   &none       &none   &kp LG(LS(S))  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp LEFT_WIN
&mt LEFT_SHIFT KP_NUMBER_0  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp PERCENT   &trans      &none   &none          &kp J           &kp K           &kp L            &to_nl 3
&trans                      &trans           &kp KP_EQUAL     &trans           &trans        &trans      &trans  &trans                                                          &to_nl 4
            >;

            sensor-bindings = <&inc_dec_kp LC(C_AC_ZOOM_IN) LC(C_AC_ZOOM_OUT)>;
        };

        FUNCTIONS_AND_SYMBOLS {
            bindings = <
&trans  &kp F1  &kp F2   &kp F3   &td_alt_f4                                 &kp LBKT    &kp RBKT      &kp BSLH      &kp JP_COLON   &kp SEMICOLON
&trans  &kp F6  &kp F7   &kp F8   &kp F5      &trans      &kp LS(N4)         &kp LS(N3)  &kp LS(N8)    &kp LS(N9)    &kp LESS_THAN  &kp GREATER_THAN
&trans  &kp F9  &kp F10  &kp F11  &kp F12     &trans      &kp JP_UNDERSCORE  &kp LS(N6)  &kp LS(RBKT)  &kp LS(BSLH)  &kp JP_DQUOTE  &kp JP_QUOTE
&trans  &trans  &trans   &trans   &trans      &trans      &trans             &trans                                                 &kp LS(N4)
            >;
        };

        MISC {
            bindings = <
&to_kp 6 TAB          &kp LC(LG(LEFT))        &kp LG(TAB)       &kp LG(LC(RIGHT))        &td_alt_f4                                                &td_alt_f4  &kp LC(W)        &kp LS(LC(T))  &kp LC(T)          &to_kp 6 TAB
&to_kp 7 TAB          &kp LG(LS(LEFT_ARROW))  &kp LG(UP_ARROW)  &kp LG(LS(RIGHT_ARROW))  &kp A             &trans               &kp C_VOLUME_UP    &kp F5      &kp LC(PAGE_UP)  &kp A          &kp LC(PAGE_DOWN)  &to_kp 7 TAB
&kp LA(LC(LG(DOWN)))  &kp LG(LEFT_ARROW)      &kp LG(DOWN)      &kp LG(RIGHT_ARROW)      &screenshot_copy  &screensot_save      &kp C_VOLUME_DOWN  &kp K_MUTE  &kp LA(LEFT)     &kp DOWN       &kp LA(RIGHT)      &trans
&trans                &trans                  &trans            &trans                   &trans            &trans               &kp DELETE         &trans                                                         &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
        };

        ALT_TAB {
            bindings = <
&kp TAB      &trans    &trans    &trans     &trans                      &trans  &trans    &trans    &trans     &kp TAB
&kp LS(TAB)  &trans    &kp UP    &trans     &trans  &trans      &trans  &trans  &trans    &kp UP    &trans     &kp LS(TAB)
&trans       &kp LEFT  &kp DOWN  &kp RIGHT  &trans  &trans      &trans  &trans  &kp LEFT  &kp DOWN  &kp RIGHT  &trans
&trans       &trans    &trans    &trans     &trans  &trans      &trans  &trans                                 &trans
            >;
        };

        CTRL_TAB {
            bindings = <
&kp LS(TAB)  &trans    &trans    &trans     &trans                      &trans  &trans    &trans    &trans     &kp LS(TAB)
&kp TAB      &trans    &kp UP    &trans     &trans  &trans      &trans  &trans  &trans    &kp UP    &trans     &kp TAB
&kp LS(TAB)  &kp LEFT  &kp DOWN  &kp RIGHT  &trans  &trans      &trans  &trans  &kp LEFT  &kp DOWN  &kp RIGHT  &kp LS(TAB)
&trans       &trans    &trans    &trans     &trans  &trans      &trans  &trans                                 &trans
            >;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans      &trans                      &trans  &trans    &trans    &trans  &trans
&trans  &trans  &trans  &trans      &trans  &trans      &trans  &trans  &mkp MB1  &mkp MB2  &none   &trans
&trans  &trans  &trans  &trans      &trans  &trans      &trans  &trans  &trans    &trans    &trans  &trans
&trans  &trans  &trans  &tog_off 7  &trans  &trans      &trans  &trans                              &trans
            >;
        };

        MEDIA {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &kp C_PREV         &kp C_PLAY_PAUSE   &kp C_NEXT       &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &kp C_VOLUME_DOWN  &kp C_MUTE         &kp C_VOLUME_UP  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans             &kp LS(LA(LC(M)))  &trans           &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                                                         &trans
            >;
        };

        EXTRA_FINCTIONS {
            bindings = <
&trans  &trans  &trans  &trans                         &trans                      &kp F13  &kp F14  &kp F15  &kp F16  &trans
&trans  &trans  &trans  &trans                         &trans  &trans      &trans  &kp F17  &kp F18  &kp F19  &kp F20  &trans
&trans  &trans  &trans  &trans                         &trans  &trans      &trans  &kp F21  &kp F22  &kp F23  &kp F24  &trans
&trans  &trans  &trans  &eager_tap_dance LANGUAGE_1 9  &trans  &trans      &trans  &trans                              &trans
            >;
        };

        CONFIGURATION {
            bindings = <
&reset_bootloader 0 0  &none  &none  &none  &none                                 &none         &none         &none         &out OUT_TOG  &reset_bootloader 0 0
&none                  &none  &none  &none  &tog_on 0   &trans      &td_bt_clear  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&none                  &none  &none  &none  &tog_off 0  &none       &none         &none         &none         &none         &none         &none
&none                  &none  &none  &none  &none       &none       &none         &none                                                   &td_bt_clear_all
            >;
        };

        SCROLL {
            bindings = <
&trans        &trans          &trans          &trans           &trans                      &trans  &trans  &trans  &trans  &trans
&trans        &trans          &kp UP_ARROW    &trans           &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&kp LEFT_GUI  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans        &trans          &trans          &trans           &trans  &trans      &trans  &trans                          &trans
            >;
        };
    };
};
